* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #F0EDCC;
    --secondary: #02343F;
}

body {
    color: var(--primary);
    font-family: "Poppins", "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

button {
    all: unset;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 5px;
    padding: .75rem 1rem;
    transition: 150ms;
    border: 2px solid var(--primary);
    text-align: center;
}

button:hover {
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--secondary);
    cursor: pointer;
}

input {
    all: unset;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 5px;
    padding: .75rem 1rem;
    transition: 150ms;
    border: 2px solid var(--secondary);
    text-align: center;
}

input:focus {
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--secondary);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--secondary);
}

#game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
    min-width: 800px;
}

#game {
    border: 2px solid var(--primary);
    border-radius: 5px;
}

#leaderboard {
    width: 300px;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 5px;
    padding: 2rem 1rem;
}

#score {
    width: 300px;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 5px;

}

#dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 500ms;
    padding: 2rem;
    border-radius: 5px;

    background-color: var(--primary);
    color: var(--secondary);
}

.dialog-section {
    margin-top: .75rem;
}

#dialog-instructions .mode {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
}

#dialog-start, #dialog-diff {
    display: none;
}

.players-name {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem 0;
}

.start-wrapper {
    display: grid;
    grid-template-rows: 1fr;
}


#btn-start {
    margin-top: 2rem;
}